<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867906611234-f5kddhaa5dvb1uti14vknu1ek7vqm0l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867906611234-f5kddhaa5dvb1uti14vknu1ek7vqm0l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDeQdZ7GF9qwv8IbsFA5qHL6z0pE7lGj70</string>
	<key>GCM_SENDER_ID</key>
	<string>867906611234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kolot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kolot-8fb44</string>
	<key>STORAGE_BUCKET</key>
	<string>kolot-8fb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867906611234:ios:965b43e839a639bd73027b</string>
</dict>
</plist>